*.log
.git
.github
# editor
.idea
# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
# out/
build

# misc
.DS_Store
*.pem

.turbo
.vercel
.cache
.output
apps/**/public/build

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions