*.log
.git
.github
# editor
.idea
# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
build

# misc
.DS_Store
*.pem

.turbo
.vercel
.cache
.output
apps/**/public/build

cypress/screenshots
cypress/videos

/**/styles/tailwind.css