@import "tailwindcss";

@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

:root {
  color-scheme: light;
  --background: hsl(25 73% 98%);
  --foreground: hsl(25 67% 4%);
  --muted: hsl(25 30% 95%);
  --muted-foreground: hsl(25 2% 44%);
  --popover: hsl(25 70% 98%);
  --popover-foreground: hsl(25 67% 4%);
  --card: hsl(25 70% 98%);
  --card-foreground: hsl(25 67% 4%);
  --border: hsl(220 13% 91%);
  --input: hsl(220 13% 91%);
  --primary: hsl(25 31% 75%);
  --primary-foreground: hsl(25 31% 15%);
  --secondary: hsl(25 18% 90%);
  --secondary-foreground: hsl(25 18% 30%);
  --accent: hsl(25 23% 83%);
  --accent-foreground: hsl(25 23% 23%);
  --destructive: hsl(13 96% 20%);
  --destructive-foreground: hsl(13 96% 80%);
  --ring: hsl(25 31% 75%);
  --radius: 0.5rem;

  --warning: hsl(48 97% 77%); /* amber 200 */
  --warning-foreground: hsl(215 25% 27%); /* slate-700 */

  --sidebar: hsl(0 15% 88%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);

  --chart-1: hsl(12 76% 61%);
  --chart-2: hsl(173 58% 39%);
  --chart-3: hsl(197 37% 24%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);
  --chart-6: hsl(198.6 88.7% 48.4%);

  --letter-spacing: -0.2px;
}

.dark {
  color-scheme: dark;
  --background: hsl(20 41% 2%);
  --foreground: hsl(25 21% 98%);
  --muted: hsl(25 30% 5%);
  --muted-foreground: hsl(25 2% 71%);
  --popover: hsl(25 41% 2%);
  --popover-foreground: hsl(25 21% 98%);
  --card: hsl(25 41% 2%);
  --card-foreground: hsl(25 21% 98%);
  --border: hsl(215 27.9% 16.9%);
  --input: hsl(215 27.9% 16.9%);
  --primary: hsl(25 31% 75%);
  --primary-foreground: hsl(25 31% 15%);
  --secondary: hsl(25 5% 14%);
  --secondary-foreground: hsl(25 5% 74%);
  --accent: hsl(25 11% 20%);
  --accent-foreground: hsl(25 11% 80%);
  --destructive: hsl(13 96% 49%);
  --destructive-foreground: hsl(0 0% 100%);
  --ring: hsl(25 31% 75%);

  --warning: hsl(48 97% 77%); /* amber 200 */
  --warning-foreground: hsl(215 25% 27%); /* slate-700 */

  --radius: 0.5rem;
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(30 5% 90%);
  /* --sidebar-primary: hsl(224.3 76.3% 48%); */
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);

  --chart-1: hsl(220 70% 50%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55%);
  --chart-6: hsl(198.6 88.7% 48.4%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  /* --color-brown-50: #fceade;
  --color-brown-100: #f9d4be;
  --color-brown-200: #f3ad81;
  --color-brown-300: #ed8240;
  --color-brown-400: #d15d14;
  --color-brown-500: #92400e;
  --color-brown-600: #74330b;
  --color-brown-700: #582708;
  --color-brown-800: #3c1b06;
  --color-brown-900: #1c0c03;
  --color-brown-950: #0e0601;

  --color-green-50: #e2fcde;
  --color-green-100: #c5f9be;
  --color-green-200: #8ff381;
  --color-green-300: #54ed40;
  --color-green-400: #2ad114;
  --color-green-500: #1e920e;
  --color-green-600: #17740b;
  --color-green-700: #125808;
  --color-green-800: #0c3c06;
  --color-green-900: #061c03;
  --color-green-950: #030e01;

  --color-blue-50: #def1fc;
  --color-blue-100: #bee2f9;
  --color-blue-200: #81c7f3;
  --color-blue-300: #40abed;
  --color-blue-400: #1489d1;
  --color-blue-500: #0e6092;
  --color-blue-600: #0b4c74;
  --color-blue-700: #083a58;
  --color-blue-800: #06283c;
  --color-blue-900: #03121c;
  --color-blue-950: #01090e;

  --color-purple-50: #f8defc;
  --color-purple-100: #f2bef9;
  --color-purple-200: #e681f3;
  --color-purple-300: #d940ed;
  --color-purple-400: #bb14d1;
  --color-purple-500: #820e92;
  --color-purple-600: #680b74;
  --color-purple-700: #4f0858;
  --color-purple-800: #36063c;
  --color-purple-900: #19031c;
  --color-purple-950: #0c010e; */
}
